body {
    background-color: #dbe2eb;
    padding: 0 10px;
}

.content_box {
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #b7c5db;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 300px;
    position: relative;
    margin: 30px auto;
}

header {
    width: 100%;
    height: 100px;
    position: relative;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #b7c5db;
}

.top_logo {
    background-color: #ffffff;
    /* border: 5px solid rgba(240.20800173282623, 245.92747002840042, 253.40624392032623, 1); */
    width: 50%;
    max-width: 400px;
    max-height: 70px;
    border-radius: 50px;
    margin-top: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px 5px #b9f5c7;
}

.top_logo img {
    width: 100%;
    max-width: 140px;
    margin-top: -12px;
    left: 20px;
}

#body_box {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    overflow: auto;
}

.main_img {
    width: 900px;
    height: 240px;
    position: absolute;
    overflow: hidden;
    top: 120px;
}

.main_img img {
    width: 100%;
}


#post_box {
    width: 80%;
    top: 0px;

    position: absolute;
    left: 0;
    flex-direction: row;
    justify-content: center;
}

#post_box p {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* 포스트를 담고 있는 박스 */
#post_container {
    width: 100%;
    top: 120px;
    column-count: 3;
    position: absolute;
}

/* 포스트 크기를 정해주는 박스 */
.post_sizer {
    width: 100%;
}

/* 포스트 콘텐츠가 담긴 박스 */
.post {
    border-radius: 10px;
    width: 90%;
    margin: 15px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 3px #f5fbfa;

    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    justify-content: center;
    gap: 10px;
}

.post_content {
    color: #414141;
    margin: 7px 0;
}

.post img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}


.menu_position {
    width: 20%;
    height: auto;
    right: 0;
    top: 20%;
    z-index: 150;
    border-left: 1.5px solid #bdd2f1;

    position: fixed;
    display: flex;
    justify-content: center;
}

.menu-toggle+label {
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
    right: 0;
}

.menu-toggle+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #000;
}

.menu-toggle+label span:nth-child(1) {
    top: 0;
}

.menu-toggle+label span:nth-child(2) {
    top: 50%;
}

.menu-toggle+label span:nth-child(3) {
    bottom: 0;
}

@media (max-width: 1300px) {
    .menu_position {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

.menu_box {
    background-color: #f0f6fd;
    box-shadow: 0 0 7px 5px #cfddf3;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 250px;
    height: auto;
    position: absolute;
    margin: 4px;
    top: 50px;
    font-family: Inter;
    text-align: left;
    letter-spacing: 0;
    list-style: none;
}


.menu li a:link {
    font-size: 17px;
    text-decoration: none;
    color: #414141;
}

.menu li a:hover {
    color: rgba(174.76464539766312, 231.09375, 201.05154365301132, 1);
}

.profile {
    width: 230px;
    height: 80px;
    position: relative;
    top: 80%;
    background-color: #ffffff;
    border: 2px solid #ccd6e4;
    width: 230px;
    height: 80px;
    box-shadow: 0 0 7px 5px #cfddf3;
    border-radius: 30px;
}

.profile_img {
    border-radius: 50%;
    background-color: azure;
    width: 60px;
    height: 60px;
    position: absolute;
    justify-content: center;
    left: 20px;
    top: 10px;
    overflow: hidden;
}

.profile_img img {
    width: 100%;
    z-index: 100;
}

.my_name {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.my_name span:nth-child(1) {
    color: rgba(64.81249898672104, 64.81249898672104, 64.81249898672104, 1);
    width: 200px;
    height: 20px;
    left: 95px;
    top: 30px;
    position: absolute;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
}