@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic&display=swap');

body {
    background-color: #dbe2eb;
    width: 98%;
    height: 100%;
    position: relative;
    align-content: center;
    justify-content: center;
}

.content_box {
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #b7c5db;
    border-radius: 10px;
    max-width: 98%;
    height: 100%;
    position: relative;
    margin: 10px;
    padding-bottom: 10px;

    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: 80px;
    position: relative;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #b7c5db;
}

.top_logo {
    background-color: #ffffff;
    width: 50%;
    max-width: 400px;
    max-height: 50px;
    border-radius: 50px;
    margin-top: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px 5px #b9f5c7;
}

.top_logo img {
    width: 100%;
    max-width: 100px;
    margin-top: -12px;
    margin-left: 10px;
}

#menu_toggle {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 30px;
    display: none;
    cursor: pointer;
}

#body_box {
    width: 100%;
    justify-content: center;
    position: relative;
    padding-bottom: 150px;
}

#top_box {
    width: 75%;
    position: relative;
    margin: 20px;

    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
    font-size: 15px;
}

#user_info {
    width: 98%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 70px;
}

#user_info img {
    min-width: 150px;
    width: 30%;
    max-width: 220px;
    border-radius: 50%;
    box-shadow: 0 0 8px 5px #dbe2eb;
    margin-right: 30px;
}

.disc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 20px;
    margin-top: 50px;
    color: #414141;
}

.disc span:nth-child(1) {
    font-weight: bold;
}

.disc span:nth-child(3) {
    color: #ff3eaa;
    font-weight: bold;
}

#category {
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    margin-left: 40px;
    color: #414141;
}

#post_box {
    width: 75%;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    top: 200px;
    gap: 40px;
    justify-content: center;
    margin: 15px;
}

/* 포스트를 담고 있는 박스 */
#post_container {
    width: 100%;
    column-count: 3;
    gap: 15px;
    row-gap: 15px;
    position: relative;
}

/* 포스트 크기를 정해주는 박스 */
.post_sizer {
    width: 100%;
    margin-bottom: 15px;
}

/* 포스트 콘텐츠가 담긴 박스 */
.post {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 5px 3px #f5fbfa;
    font-size: 14px;
    align-items: center;

    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.post_content {
    color: #414141;
    margin: 10px;
}

.to_name {
    font-weight: bold;
    margin: 10px;
}

.post_img {
    width: 91%;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
}

.right_content {
    text-align: right;
    margin-bottom: 10px;
}

.from_name {
    font-weight: bold;
    margin: 10px;
}

#kkikki_mini {
    display: none;
}

#kkikki_mini img {
    width: 100px;
}

#kkikki_mini.active {
    display: block;
    top: -20px;
    left: -65px;
    position: absolute;
    z-index: 200;
}

.menu_position {
    width: 20%;
    height: 60%;
    right: 25px;
    top: 130px;
    z-index: 150;
    position: fixed;

    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.menu_box {
    background-color: #f0f6fd;
    box-shadow: 0 0 7px 5px #cfddf3;
    border-radius: 10px;
    min-width: 160px;
    max-width: 220px;
    min-height: 300px;
    height: 100%;
    max-height: 500px;

    position: relative;
    justify-content: center;
}

.menu {
    width: 70%;
    position: absolute;
    margin-top: 10px;
    left: -5px;
    list-style: none;
}

.menu li {
    margin-top: 20px;
}

.menu li a:link {
    font-size: 14px;
    text-decoration: none;
    color: #414141;
}

.menu li a:visited {
    color: #414141;
}

.menu li a:hover {
    color: #b9f5c7;
}

.profile {
    width: 90%;
    height: 70px;
    background-color: #ffffff;
    border: 2px solid #ccd6e4;
    box-shadow: 0 0 7px 5px #cfddf3;
    border-radius: 40px;

    font-size: 12px;
    color: #414141;

    position: absolute;
    bottom: 10px;
    left: 7px;

    display: flex;
}

.profile_img {
    border-radius: 50%;
    background-color: azure;
    width: 40px;
    height: 40px;
    overflow: hidden;

    margin: 16px 0 16px 16px;
}

.profile_img img {
    width: 100%;
    z-index: 100;
}

.my_name {
    margin: 12px;
    margin-top: 14px;
    display: grid;
}

#d-day {
    color: #ff3eaa;
}

#grad_box {
    width: 87%;

    bottom: 0px;
    left: -40px;
    margin-bottom: 10px;
    position: absolute;
    justify-content: center;
    display: flex;
}

#grad_box div {
    width: 90%;
    height: 150px;

    background-color: #ffffff;
    box-shadow: 0 -30px 10px #ffffff;
}

#grad_box img {
    width: 200px;
    height: 210px;
    top: -60px;
    position: absolute;
}

@media (max-width: 900px) {
    .menu_position {
        display: none;
    }

    .menu_position.active {
        width: 45%;
        height: 400px;
        max-height: 500px;
        display: block;
        position: absolute;
        margin: 5px;
        top: 80px;
    }

    .menu_box {
        width: 100%;
        position: absolute;
        right: 0;
    }

    #menu_toggle {
        display: block;
    }

    #post_box {
        width: 95%;
    }

    #grad_box {
        width: 95%;
        position: absolute;
        left: 15px;
    }

    #grad_box div {
        width: 100%;
    }

    #top_box {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #post_container {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    #top_box {
        width: 95%;
    }

    #user_info {
        left: 10px;
    }
}

@media (max-width: 500px) {
    #post_box {
        width: 90%;
        left: 2px;
    }

    #post_container {
        column-count: 1;
    }
}